@using WebFrontEnd.Controllers
@model FunctionListModel

@{
    ViewBag.Title = "ListAllFunctions";
}

<h2>ListAllFunctions</h2>

<p>List of functions registered with system:</p>


<p>[ @Html.ActionLink("Register new function", "RegisterFunc") ] 
    [ @Html.ActionLink("List all Cloud Binders", "ListAllBinders") ]
</p>



<table border="1">

    <tr>
        <td>Name</td>
        <td>Commands</td>
        <td>Location</td>
        <td>last updated</td>
        <td>Description</td>
        <td>Flow</td>
    </tr>

@foreach (var func in Model.Functions)
{
    <tr>
        <td>@Html.FunctionLogLink(func)</td>
        <td>@Html.Partial("_DeleteFunction", func)@Html.Partial("_RescanFunction", func)</td>
        <td>@func.Location.GetId()</td>
        <td>@func.Timestamp</td>
        <td>@func.Description</td>
        <td>@func.Flow</td>
    </tr>
}


</table>