@using WebFrontEnd.Controllers
@model FunctionListModel

@{
    ViewBag.Title = "ListAllFunctions";
}

<div class="page-header">
<h1>Functions <small>A list of all functions registered with the system</small></h1>
</div>
@*<div>
    <a class="btn btn-primary" href="@Url.Action("RegisterFunc", "Home")"><i class="icon-plus"></i> Register a new Function</a>
</div>*@

<div>
    <table class="table">
    @foreach (var group in Model.Functions)
    {
        <tr>
            <th colspan="6">@group.Key</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Commands</th>
            <th>Last Updated</th>
            <th>Description</th>
            <th>Location</th>
        </tr>
        foreach (var func in group)
        {
            <tr>
                <td>@Html.FunctionLogLink(func)</td>
                <td>@Html.Partial("_DeleteFunction", func)</td>
                <td>@func.Timestamp</td>
                <td>@func.Description</td>
                <td>@func.Location.GetId()</td>
            </tr>
        }
    }

        @*@Html.Partial("_RescanFunction", group.Key)*@
    </table>
</div>