@using WebFrontEnd.Controllers
@model LogSummaryModel
@{
    ViewBag.Title = "Summary";
}

<div class="page-header">
<h1>Invocation Summary <small>the number of times each function was executed</small></h1>
</div>
@if(Model.Summary.Any()) {
    <table class="table table-header">
        <thead>
            <tr>
                <th>Function name</th>
                <th>Completed successfully</th>
                <th>Failures</th>
                <th>Average run length</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kv in Model.Summary)
            {
                <tr>
                    <td>
                        @Html.FunctionLogInvokeHistoryLink(kv.Key)
                    </td>
                    <td>
                        @{
                            var val = kv.Value;
                            int count = val.CountCompleted;

                            string avgSpanString = string.Empty;
                            if (count > 0)
                            {
                                var seconds = val.Runtime.TotalSeconds;
                                var avgSeconds = seconds / count;
                                var avgSpan = TimeSpan.FromSeconds(avgSeconds);
                                avgSpanString = avgSpan.ToString();
                            }        
                        }
                        @Html.FunctionLogInvokeHistoryLink(kv.Key, val.CountCompleted.ToString(), success: true)
                    </td>         
                    <td>
                        @Html.FunctionLogInvokeHistoryLink(kv.Key, val.CountErrors.ToString(), success: false)
                    </td>
                    <td>
                        @avgSpanString
                    </td>
                </tr>        
            }
        </tbody>
    </table>
} else {
    <p class="alert alert-info">There are no function invocations in the log</p>
}

<p class="alert alert-info">Queue depth: @Model.QueueDepth</p>
    

@if(Model.QueuedInstances.Any()) {
    <section id="execution-queue">
        <h2>Top items from execution queue:</h2>

        <ol>
            @foreach (var instance in Model.QueuedInstances)
            {
                <li>@Html.FunctionInstanceLogLink(instance)</li>
            }
        </ol>
    </section>
}