@using WebFrontEnd.Controllers
@using Orchestrator
@model object

@{
    var blob = Model as RunnerInterfaces.CloudBlobDescriptor;
    var uri = Model as Uri;
}


@if (blob != null)
{
    using (Html.BeginForm("RescanFunction", "Home"))
    {
        <input type="hidden" name="accountString" value="@blob.AccountConnectionString" />
        <input type="hidden" name="containerName" value="@blob.ContainerName" />
        <h3>Container</h3>
        <label>@blob.ContainerName</label>
        <input type="submit" value="Rescan Container"/>
    }
} 
else if (uri != null)
{
    using (Html.BeginForm("RegisterKuduFuncSubmit", "Home"))
    {
        <input type="hidden" name="url" value="@uri.ToString()" />
        <h3>Uri:</h3>
        <label>@uri</label>
        <input type="submit" value="Rescan url"/>
    }
}
else 
{
    <h3>Container</h3>
    <label>Not in a container</label>
}