@using Dashboard.Controllers
@model LogBlobModel2
@{
    ViewBag.Title = "Blob";
}

<h2>Blob</h2>

<p>Uri: <a href="@Model.Uri">@Model.Uri</a></p>

<h3>Details about the blob</h3>
<table class="table table-striped">
    <tr>
        <td>Account Name</td><td>@Model.AccountName</td>
    </tr>
    <tr>
        <td>Container Name</td><td>@Model.ContainerName</td>
    </tr>
    <tr>
        <td>Blob Name</td><td>@Model.BlobName</td>
    </tr>
    <tr>
        <td>Last modified time</td>
        @if (Model.LastModifiedTime.HasValue)
        {
        <td>@Model.LastModifiedTime UTC ( @Html.TimeLapse(DateTime.UtcNow, Model.LastModifiedTime.Value) )</td>
        } else 
        {
        <td>unknown</td>
        }
    </tr>
</table>


<h3>Who wrote this blob?</h3> 
@if (Model.LastWriter == null)
{
    <p>Unknown</p>
} else 
{
    <p>Blob was written by this function instance: @Html.FunctionInstanceLogLink(Model.LastWriter) </p>
}

<h3>Contents</h3>
<p>Blob Content-Type is <b>@Model.ContentType</b>, and is <b>@Model.Length</b> bytes. Here are the first @Model.Content.Length bytes:</p>
<pre>
@Model.Content
</pre>