@using Dashboard
@{
    Layout = "~/Views/Shared/_TopLayout.cshtml";
}

<div class="container" ng-app="dashboardApp">
@Html.Partial("_Header")
    @if (HostVersionConfigWrapper.HasWarning)
    {
        foreach (var warning in HostVersionConfigWrapper.Warnings)
        {
            <p class="warning">
                <i class="icon-warning-sign"></i> Warning: A host is using @warning.Label, which this site extension does not support.
                @if (!String.IsNullOrEmpty(warning.Link))
                {
                    <a href="@warning.Link">Details</a>
                }
            </p>
        }
    }
    @if (TempData.ContainsKey("Message.Text"))
    {
        <div class="alert alert-@TempData["Message.Level"]">@TempData["Message.Text"]</div>
    }
    @RenderBody()
</div>