@using Dashboard
<!DOCTYPE html>
<html ng-app="dashboardApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="~/" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/app")
    <script>
        var dashboard = angular.module('dashboard');
        dashboard.value('siteRoot', '@Url.Content("~/")');
        @if (SdkSetupState.BadInit)
        {
            <text>
        dashboard.run(function($rootScope) {
            $rootScope._sdkNotConfigured = {
                badInit: @SdkSetupState.BadInit.ToString().ToLowerInvariant(),
                runtimeConnectionStringName: '@SdkSetupState.DashboardConnectionStringName',
                badInitErrorMessage: '@SdkSetupState.BadInitErrorMessage',
                connectionStringState: '@SdkSetupState.ConnectionStringState.ToString().ToLowerInvariant()'
            };
        });
        </text>
        }
    </script>
</head>

<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>