@using Dashboard
<!DOCTYPE html>
<html ng-app="dashboardApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="~/" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/app")
    <script>
        var dashboard = angular.module('dashboard');
        dashboard.value('siteRoot', '@Url.Content("~/")');
        @if (ViewBag.DashboardHasSetupError)
        {
            <text>
            dashboard.run(function($rootScope) {
                $rootScope._sdkNotConfigured = {
                    badInit: @ViewBag.DashboardHasSetupError.ToString().ToLowerInvariant(),
                    runtimeConnectionStringName: '@ViewBag.DashboardConnectionStringName',
                    dashboardStorageAccountName: '@ViewBag.DashboardStorageAccountName',
                    connectionStringState: '@ViewBag.DashboardConnectionStringState.ToString().ToLowerInvariant()'
                };
            });
            </text>
        }
    </script>
</head>

<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>