@using Dashboard.ViewModels
@model IEnumerable<InvocationLogViewModel>

@foreach (var log in Model)
{
    string labelClass = null;
    string descClass = null;
    string labelText = null;
    switch (log.Status)
    {
        case FunctionInstanceStatus.CompletedFailed:
            labelClass = "label-important";
            descClass = "text-error";
            labelText = "Failed";
            break;
        case FunctionInstanceStatus.CompletedSuccess:
            labelClass = "label-success";
            descClass = "text-success";
            labelText = "Success";
            break;
        case FunctionInstanceStatus.NeverFinished:
            labelClass = "label-important";
            descClass = "text-error";
            labelText = "Never Finished";
            break;
        case FunctionInstanceStatus.Running:
            labelClass = "label-info";
            descClass = "text-info";
            labelText = "Running";
            break;
        case FunctionInstanceStatus.Queued:
            labelText = "Queued";
            labelClass = "label-inverse";
            break;
        case FunctionInstanceStatus.AwaitingPrereqs:
            labelText = "Awaiting Prerequisites";
            labelClass = "label-inverse";
            break;
        // don't colorize others.
    }
    <tr class="@descClass">

        <td>
            @Html.ActionLink(log.FunctionName, "FunctionInstance", "Function", new { log.Id }, new { })
        </td>

        <td>
            @if (!String.IsNullOrEmpty(labelText))
            {
                <span class="label @labelClass">@labelText</span>
            }
        </td>
        <td>
            @if (log.WhenUtc.HasValue)
            {
                @MoreHtmlHelpers.DateTimeRelative(log.WhenUtc.Value)
            }

            @if (log.Duration.HasValue)
            {
                <span>(@MoreHtmlHelpers.TimeSpanRelative(log.Duration.Value))</span>
            }
        </td>
    </tr>
}
