@using Dashboard.ViewModels
@model RunFunctionViewModel
@Html.AntiForgeryToken()
@if (Model.HostIsNotRunning)
{
    <span title="Warning" class="glyphicon glyphicon-exclamation-sign not-running"></span> <span class="not-running">Host is not running; requests will be queued but not execute until the host is started.</span>
}
<fieldset>
    @foreach (FunctionParameterViewModel parameter in Model.Parameters)
    {
        string parameterName = parameter.Name;
        <div class="form-group row">
            <div class="col-md-6">
                <label for="argument-@parameterName" class="control-label">@parameterName</label>
                <small>@parameter.Description</small>
                <input type="text" id="argument-@parameterName" name="argument-@parameterName" class="form-control" value="@parameter.Value" />
            </div>
        </div>
    }
    <input type="hidden" name="hostId" value="@Model.HostId" />
    <input type="hidden" name="functionId" value="@Model.FunctionId" />
    <input type="hidden" name="parentId" value="@Model.ParentId" />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@Model.SubmitText</button>
    </div>
</fieldset>
