@model Dashboard.ViewModels.FunctionInstancesViewModel
@{
    ViewBag.Title = "Function Invocation Log";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h3>Invocation Log <small>@Model.FunctionName</small></h3>
        
    </div>
    <div class="col-md-4">
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default @(Model.Success.HasValue ? "" : "active")">
                    <input type="radio" name="status" value="All" checked="checked">All
                </label>
                <label class="btn btn-default @(Model.Success.HasValue && Model.Success.Value ? "active" : "")">
                    <input type="radio" name="status" value="Succeeded">Succeeded
                </label>
                <label class="btn btn-default @(Model.Success.HasValue && !Model.Success.Value ? "active" : "")">
                    <input type="radio" name="status" value="Failed">Failed
                </label>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('input[name="status"]').on('change', function () {
            var value = $(this).attr('value');
            var url = '@Url.Action("FunctionInstances", "Dashboard", new { Model.FunctionName, Model.PageSize })';

            if (value == "All") {
                window.location = url;
            }
            else if (value == "Succeeded") {
                window.location = url + '&success=true';
            }
            else if (value == "Failed") {
                window.location = url + '&success=false';
            }
        });
    });
</script>

@if (Model.InvocationLogViewModels.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Status Detail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.InvocationLogViewModels)
                {
                    Html.RenderPartial("_InvocationLogSummary", log);
                }
            </tbody>
        </table>
        <ul class="pager">
            @if (Model.Page > 1)
            {
                <li class="previous"><a href="@Url.Action("FunctionInstances", "Dashboard", new {Model.FunctionName, Model.Success, Model.PageSize, Page = Model.Page - 1})">&larr; Newer</a></li>
            }
            else
            {
               <li class="previous disabled"><a href="#">&larr; Newer</a></li>
            }
            
            @if (Model.PageSize > Model.InvocationLogViewModels.Count())
            {
                <li class="next disabled"><a href="#">Older &rarr;</a></li>
            }
            else
            {
                <li class="next"><a href="@Url.Action("FunctionInstances", "Dashboard", new {Model.FunctionName, Model.Success, Model.PageSize, Page = Model.Page + 1})">Older &rarr;</a></li>
            }
        </ul>
        }
    else
    {

        if (Model.Page > 1)
        {
            <p class="alert alert-info">No more elements in the invocation log</p>

            <ul class="pager">
                <li class="previous"><a href="@Url.Action("FunctionInstances", "Dashboard", new {Model.FunctionName, Model.Success, Model.PageSize, Page = Model.Page - 1})">&larr; Newer</a></li>
                <li class="next disabled"><a href="#">Older &rarr;</a></li>
            </ul>
        }
        else
        {
            <p class="alert alert-info">The invocation log is empty</p>

        }

    }
