@using WebFrontEnd.Controllers
@model FunctionChainModel

@{
    ViewBag.Title = "ViewChain";
   
    int depth = 0;
}

<div class="page-header">
<h1>Call Tree <small>Shows all descendents triggered by a particular function.</small></h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
           <th>Depth</th>
           <th>Function</th>
           <th>Trigger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var node in Model.Nodes)
        {
            <tr>
                <td>
                    @node.Depth
                </td>
                <td>
                    @* Hacky formatting but it works :) *@
                    @Html.Raw(new String('-', (node.Depth -1) * 2).Replace("-", "&nbsp;&nbsp;"))
                    @Html.FunctionInstanceLogLink(node.Func)
                </td>
                <td>
                    @node.Func.FunctionInstance.TriggerReason
                </td>
            </tr>
        }
    </tbody>
</table>


@if(Model.Duration.HasValue)
{
    <p>Total chain timespan: @Html.TimeLapse(Model.Duration.Value) </p>
}
